$primary-color: hsl(12, 93%, 12%);
$accent-color: hsl(160, 100%, 26%);
$neutral-color: hsl(0, 0%, 100%);
$dark-neutral:  hsl(0, 0%, 0%);
$submit-button: hsl(13, 98%, 33%);
$shadow-color: hsl(12, 93%, 5%);
$error-color: rgb(255, 42, 42);
$error-shadow: rgba(255, 0, 0, 0.5);